<h1>New Transaction</h1>

<div class="form-container">
    <%= form_with model: @record, url: category_records_path(@category), method: :post, local: true do |form| %>
        <div class="field">
            <%= form.text_field :name, autofocus: true, placeholder: "Transaction Name" %>
        </div>

        <div class="field">
            <%= form.number_field :amount, step: 0.01, placeholder: "Transaction Amount" %>
        </div>

        <div class="actions">
            <%= form.submit "Create transaction" %>
        </div>
    <% end %>
</div>