<h1> Create a new category </h1>

<div class="form-container">
    <%= form_with model: @category, local: true do |form| %>
        <div class="field">
            <%= form.text_field :name, autofocus: true, placeholder: "Category Name" %>
        </div>

        <div class="field">
            <%= form.text_field :icon, placeholder: "Category Icon URL(optional)" %>
        </div>
        
        <div class="actions">
            <%= form.submit "Create category" %>
        </div>
    <% end %>
</div>
